{% extends "base_generic.html" %}

{% block content %}
  <h1>Tomášova knihovna</h1>
  <p>Zdejší knihovna nepodléhá cenzuře. Je to knihovna spravovaná pečlivě vybíranými knihovníky. 
  Knihovníkům je svěřené právo přidávat knihy, které považují za vhodné. Stejně tak mohou ničit knihy, které chtějí, nedělají to však často.
  Mohou knihy pujčovat, zabookovat nebo označit k údržbě, aby si jej ostatní nemohli vypujčit.
  Knihovna je napsána v Djangu, v kombinaci pythonu s HTML tvořící silnou dvojici pro interaktivní webové rozhraní.
  Knihovna byla vytvořena jakožto "tutorial project" pro osvojení si dovednosti práce v Djangu, které poslouží 
  k následné tvorbě dalších, již více užitečných nástrojů.    
    <em>Viva la Bibliotheca</em>!</p>
  <h2>Obsah knihovny</h2>
  <p>The library has the following record counts:</p>
  <ul>
    <li><strong>Books:</strong> {{ num_books }}</li>
    <li><strong>Copies:</strong> {{ num_instances }}</li>
    <li><strong>Copies available:</strong> {{ num_instances_available }}</li>
    <li><strong>Authors:</strong> {{ num_authors }}</li>
  </ul>
  <p>You have visited this page {{ num_visits }} time{% if num_visits > 1 %}s{% endif %}.</p>
{% endblock %}
